TT_ORACLE_USER=TT_APP
TT_ORACLE_PASSWORD=<set-locally>
TT_ORACLE_CONNECT_STRING=127.0.0.1:1521/XEPDB1
TT_ORACLE_SCHEMA=TT_OWNER
TT_ORACLE_EXPECTED_DATABASE=XE
TT_ORACLE_EXPECTED_SERVICE=XEPDB1
TT_ORACLE_POOL_MIN=0
TT_ORACLE_POOL_MAX=4
TT_ORACLE_POOL_INCREMENT=1
TT_ORACLE_QUEUE_TIMEOUT_MS=5000
TT_ORACLE_POOL_TIMEOUT_SECONDS=60
TT_PRIVATE_STORAGE_ROOT=.data/private-files
TT_EVIDENCE_MAX_FILE_BYTES=10485760
TT_EVIDENCE_MAX_PIXELS=25000000
TT_EVIDENCE_MAX_DIMENSION=8192
TT_EVIDENCE_MAX_FILES_PER_OPERATION=10
